.container {
  width: clamp(155px, 44vw, 180px);
  height: 154px;
  margin-bottom: 1.5rem;
}

.photo-container {
  position: relative;
  width: inherit;
  height: clamp(100px, 16.5vh, 115px);
  border-radius: 0.5rem;
}

.play-container {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000007b;
  z-index: 1;
  transition: opacity 0.25s ease-in-out;
}

.play {
  min-width: 100px;
  min-height: 48px;
  border-radius: 1.8rem;
  background-color: #ffffff7b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.play p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.bookmark-container {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

.bookmark-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: hsla(223, 30%, 9%, 0.5);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  transition: all 0.15s ease-in-out;
}

.image {
  width: inherit;
  height: inherit;
  border-radius: 0.5rem;
  filter: brightness(75%);
}

.details-container {
  width: 100%;
  margin-top: 0.3rem;
  box-sizing: border-box;
  font-family: var(--font);
  color: var(--white);
}

.details {
  margin: 0;
  font-weight: 300;
  font-size: 11px;
}

.text {
  opacity: 0.75;
  margin: 0;
  display: inline-flex;
  gap: 0.4rem;
  align-items: center;
}

.dot {
  opacity: 0.5;
  margin: 0 0.3rem;
}

.title {
  margin: 0.3rem 0 0;
  font-size: 14px;
  font-weight: 500;
}

@media (hover: hover) {
  .photo-container:hover > .play-container {
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
  }

  .bookmark-circle:hover {
    background-color: var(--white);
    color: var(--darkBlue);
    transition: all 0.25s ease-in-out;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: clamp(200px, 28.7vw, 250px);
    height: 192px;
    margin-bottom: 2.5rem;
  }

  .photo-container {
    height: clamp(125px, 13.7vh, 150px);
  }

  .details-container {
    margin-top: 0.6rem;
  }

  .details {
    font-size: 13px;
  }

  .title {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    width: clamp(260px, 20.5vw, 300px);
    height: 226px;
    margin-bottom: 2.5rem;
  }

  .photo-container {
    height: clamp(160px, 22.6vh, 185px);
  }

  .details-container {
    margin-top: 0.6rem;
  }

  .details {
    font-size: 13px;
  }

  .title {
    font-size: 18px;
  }
}
