.container {
  width: 100%;
  box-sizing: border-box;
  margin-top: 1rem;
  padding: 0 1rem;
}

.title {
  margin: 0 0 1rem;
  font-family: var(--font);
  color: var(--white);
  font-size: 20px;
  font-weight: 300;
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 1.7rem;
    margin-top: 2rem;
  }
  .title {
    font-size: 32px;
    margin-bottom: 2rem;
  }
}
