.container {
  width: clamp(220px, 64vw, 260px);
  height: 140px;
  position: relative;
}

.play-container {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000007b;
  z-index: 1;
  transition: opacity 0.25s ease-in-out;
}

.play {
  min-width: 100px;
  min-height: 48px;
  border-radius: 1.8rem;
  background-color: #ffffff7b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.play p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.image {
  width: inherit;
  height: inherit;
  border-radius: 8px;
  filter: brightness(75%);
}

.info {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.bookmark-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.bookmark-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: hsla(223, 30%, 9%, 0.5);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  transition: all 0.15s ease-in-out;
}

.details-container {
  width: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
  font-family: var(--font);
  color: var(--white);
}

.details {
  margin: 0;

  font-weight: 300;
  font-size: 12px;
}

.text {
  opacity: 0.75;
  margin: 0;
  display: inline-flex;
  gap: 0.4rem;
  align-items: center;
}

.dot {
  opacity: 0.5;
  margin: 0 0.3rem;
}

.title {
  margin: 0.4rem 0 0.7rem;
  font-size: 15px;
  font-weight: 500;
}

@media (hover: hover) {
  .container:hover > .play-container {
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
  }
  .bookmark-circle:hover {
    background-color: var(--white);
    color: var(--darkBlue);
    transition: all 0.15s ease-in-out;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: clamp(450px, 60vw, 490px);
    height: 230px;
  }

  .bookmark-circle {
    margin: 1.1rem 1.5rem;
  }

  .details-container {
    margin-bottom: 0.8rem;
  }

  .details {
    font-size: 15px;
  }

  .title {
    font-size: 24px;
  }
}
